<ol>
  <li *ngFor="let chapter of (chapters | async);">
    <h2 contenteditable="true" (blur)="updateChapterName(chapter, $event.target.innerText)">{{chapter.name}}</h2>
    <button (click)="deleteChapter(chapter)">Delete</button>
    <ol>
      <li *ngFor="let video of chapter.videos">
        <h3 contenteditable="true" (blur)="updateVideoName(chapter, video, $event.target.innerText)">{{video.name}}</h3>
      </li>
    </ol>
  </li>
</ol>
<form (ngSubmit)="addChapters(form.value.chapters);form.reset()" #form="ngForm">
  <label>
    Add chapters (list of video counts per chapter)
    <input type="text" name="chapters" ngModel>
  </label>
  <button type="submit">Add</button>
</form>
